# Archivos de compilación de PyInstaller (carpetas pesadas y temporales)
build/
*.spec

# Archivos de configuración local (para no subir tus rutas personales a la nube)
config.json
config.json.bak
config.json.corrupt
.config_*.tmp

# Caché de Python
__pycache__/
*.py[cod]

# Archivos de sistema
Thumbs.db
.DS_Store
